Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [24]:
driver=webdriver.Chrome()

In [25]:
driver.get('https://www.shine.com/')

In [26]:
designation=driver.find_element(By.CLASS_NAME,"searchBarInput")
designation.send_keys('Data Analyst')

In [30]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [31]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [37]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [38]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [39]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [40]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Technical Data Analyst,Bangalore\n+9,krishna consultancy.. hiring for co...,4 to 9 Yrs
1,Data Entry Operator(data analyst work) REMOTE ...,Bangalore\n+9,prime services..,0 to 1 Yr
2,Hiring For Data Analyst,Bangalore\n+8,harjai computers private limited,2 to 5 Yrs
3,Senior Data Analyst,Bangalore\n+8,harjai computers private limited,0 to 2 Yrs
4,Data Analyst,Bangalore,true caller,3 to 5 Yrs
5,Mobility Data Analyst - IN/MKR,Bangalore,bosch group,4 to 6 Yrs
6,Senior Data Analyst,Bangalore,true caller,5 to 7 Yrs
7,hiring for data entry analyst ( position data ...,Bangalore\n+9,prime services..,0 to 1 Yr
8,hiring for data entry analyst work,Bangalore\n+9,realtech solutions,0 to 1 Yr
9,hiring for data entry analyst ( position data ...,Bangalore\n+9,realtech solutions,0 to 1 Yr

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [41]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [42]:
driver=webdriver.Chrome()

In [43]:
driver.get("https://www.shine.com/")

In [45]:
designation=driver.find_element(By.CLASS_NAME,"searchBarInput")
designation.send_keys('Data Scientist')

In [46]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [47]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [48]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [49]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [50]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [51]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist,Bangalore,the fashion cosmo,0 to 4 Yrs
1,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd,5 to 7 Yrs
2,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd,5 to 7 Yrs
3,Data Scientist III,Bangalore,inmobi,7 to 9 Yrs
4,Data Scientist Hiring Fresher and Experience,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
5,"Opening for Computer executive, data typing , ...",Bangalore\n+9,realtech solutions,0 to 1 Yr
6,Data Scientist,Bangalore\n+6,quiscon biotech,0 to 1 Yr
7,"Senior Data Scientist, AWS",Bangalore,amazon,10 to 12 Yrs
8,"Data Engineer II, Amazon WFM Tech Enterprise Data",Bangalore,amazon,3 to 5 Yrs
9,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [62]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [63]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [64]:
driver=webdriver.Chrome()

In [65]:
driver.get("https://www.shine.com/")

In [67]:
designation=driver.find_element(By.CLASS_NAME,"searchBarInput")
designation.send_keys('Data Scientist')

In [71]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [73]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [74]:
job_title=[]
job_location=[]
company_name=[]
experience_requried=[]

In [79]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'')

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [181]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [182]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [183]:
driver=webdriver.Chrome()

In [185]:
driver.get("https://www.flipkart.com/")

In [186]:
designation=driver.find_element(By.CLASS_NAME,"Pke_EE")
designation.send_keys('Sunglasses')

In [188]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [189]:
brand_title=[]
brand_description=[]
brand_price=[]
discount_given=[]

In [190]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags[0:40]:
    title=i.text
    brand_title.append(title)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"or"IRpwTa _2-ICcC"]')
for i in description_tags[0:40]:
    description=i.text
    brand_description.append(description)
    
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in brand_tags[0:40]:
    price=i.text
    brand_price.append(price)
    
given_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in given_tags[0:40]:
    given=i.text
    discount_given.append(given)

In [191]:
print(len(brand_title),len(brand_description),len(brand_price),len(discount_given))

40 40 40 40

In [192]:
import pandas as pd
df=pd.DataFrame({'Title':brand_title,'Description':brand_description,'Price':brand_price,'Discount':discount_given})
df

,Title,Description,Price,Discount
0,VINCENT CHASE,,₹849,57% off
1,VINCENT CHASE,Explore Plus,₹949,52% off
2,Fastrack,Login,₹799,42% off
3,Fastrack,Become a Seller,₹499,44% off
4,Rich Club,,₹488,62% off
5,Fastrack,Flights,₹549,38% off
6,STACTOR,Offer Zone,₹719,82% off
7,ROYAL SON,Vogue\nSunglasses | Upto 50% Off,₹379,74% off
8,GANSTA,Sunglasses,₹212,83% off
9,Fastrack,Need help?\nHelp me decide,₹849,39% off
10,Eyewearlabs,Home,"₹1,520",57% off
11,VINCENT CHASE,Sunglasses,₹854,57% off
12,Rich Club,,₹495,61% off
13,STACTOR,"Polarized, UV Protection Round Sunglasses (50)",₹699,83% off
14,Fastrack,"₹849₹1,99957% off\nFree delivery",₹599,45% off
15,Fastrack,,₹549,45% off
16,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹679,66% off
17,VINCENT CHASE,"₹949₹1,99952% off\nFree delivery",₹849,57% off
18,chawla fashion,,₹469,63% off
19,Fastrack,UV Protection Aviator Sunglasses (58),₹499,44% off
20,Eyewearlabs,"₹799₹1,39942% off\nFree delivery","₹1,599",55% off
21,VINCENT CHASE,,₹949,52% off
22,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹490,75% off
23,VINCENT CHASE,₹499₹89944% off,₹549,72% off
24,SRPM,,₹198,84% off
25,ROYAL SON,UV Protection Retro Square Sunglasses (54),₹664,66% off
26,ROZZETTA CRAFT,"₹488₹1,29962% off\nFree delivery",₹499,77% off
27,ROZZETTA CRAFT,,₹449,77% off
28,KOPEK,UV Protection Aviator Sunglasses (Free Size),₹189,62% off
29,Fastrack,₹549₹89938% off\nFree delivery,₹649,40% off
30,Eyewearlabs,,"₹1,404",60% off
31,VINCENT CHASE,"Mirrored, Night Vision, UV Protection Wayfarer...",₹849,57% off
32,PIRASO,"₹719₹4,19982% off\nFree delivery",₹287,88% off
33,Fastrack,,₹549,45% off
34,KOPEK,Mirrored Aviator Sunglasses (58),₹474,52% off
35,PIRASO,"₹379₹1,49974% off\nFree delivery",₹279,89% off
36,New Specs,,₹189,81% off
37,VINCENT CHASE,UV Protection Aviator Sunglasses (57),₹679,66% off
38,Fastrack,"₹212₹1,29983% off\nFree delivery",₹449,55% off
39,METRONAUT,,₹246,81% off

In [194]:
search=driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [195]:
brand_title=[]
brand_description=[]
brand_price=[]
discount_given=[]

In [196]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags[0:40]:
    title=i.text
    brand_title.append(title)

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"or"IRpwTa _2-ICcC"]')
for i in description_tags[0:40]:
    description=i.text
    brand_description.append(description)
    
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in brand_tags[0:40]:
    price=i.text
    brand_price.append(price)
    
given_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in given_tags[0:40]:
    given=i.text
    discount_given.append(given)

In [197]:
print(len(brand_title),len(brand_description),len(brand_price),len(discount_given))

40 40 40 40

In [199]:
import pandas as pd
df=pd.DataFrame({'Title':brand_title,'Description':brand_description,'Price':brand_price,'Discount':discount_given})
df

,Title,Description,Price,Discount
0,VINCENT CHASE,,₹549,72% off
1,VINCENT CHASE,Explore Plus,₹849,66% off
2,VINCENT CHASE,Login,₹849,57% off
3,CLICKEDIN,Become a Seller,₹199,66% off
4,ROZZETTA CRAFT,,₹335,83% off
5,NuVew,Flights,₹278,64% off
6,DEIXELS,Offer Zone,₹248,58% off
7,GANSTA,Vogue\nSunglasses | Upto 50% Off,₹292,85% off
8,ROADWAY,Sunglasses,₹398,80% off
9,VINCENT CHASE,Need help?\nHelp me decide,₹679,66% off
10,IRUS,Home,₹499,43% off
11,ROZZETTA CRAFT,Sunglasses,₹649,74% off
12,Fastrack,,₹599,40% off
13,Fastrack,UV Protection Wayfarer Sunglasses (59),₹599,45% off
14,Fastrack,"₹549₹1,99972% off",₹549,45% off
15,Ray-Ban,,"₹4,699",25% off
16,VINCENT CHASE,by Lenskart UV Protection Clubmaster Sunglasse...,₹699,65% off
17,IRUS,"₹849₹2,50066% off\nFree delivery",₹499,27% off
18,Eyewearlabs,,"₹1,533",57% off
19,PIRASO,"by Lenskart Polarized, UV Protection Retro Squ...",₹357,86% off
20,VINCENT CHASE,"₹849₹1,99957% off\nFree delivery",₹649,67% off
21,john jacobs,,"₹1,668",72% off
22,PIRASO,UV Protection Retro Square Sunglasses (Free Size),₹388,85% off
23,Elligator,₹199₹59966% off\nFree delivery,₹172,65% off
24,Elligator,,₹220,77% off
25,PIRASO,"UV Protection, Gradient Rectangular Sunglasses...",₹206,87% off
26,ROYAL SON,"₹335₹1,99983% off\nFree delivery",₹719,64% off
27,VINCENT CHASE,,₹849,57% off
28,Singco India,"UV Protection, Night Vision, Riding Glasses Sp...",₹357,82% off
29,Sukart,₹278₹78564% off\nFree delivery,₹292,70% off
30,ROYAL SON,,₹587,60% off
31,ROYAL SON,UV Protection Sports Sunglasses (Free Size),₹670,66% off
32,Ray-Ban,₹248₹59958% off\nFree delivery,"₹9,351",10% off
33,Rich Club,,₹473,63% off
34,New Specs,"UV Protection, Gradient Wayfarer, Round Sungla...",₹271,89% off
35,Eyewearlabs,"₹292₹1,99985% off\nFree delivery","₹1,520",57% off
36,VINCENT CHASE,,₹749,62% off
37,ROYAL SON,UV Protection Retro Square Sunglasses (Free Size),₹449,70% off
38,PIRASO,"₹398₹1,99980% off\nFree delivery",₹233,85% off
39,PIRASO,,₹203,89% off

In [200]:
search=driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [201]:
brand_title=[]
brand_description=[]
brand_price=[]
discount_given=[]

In [202]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags[0:20]:
    title=i.text
    brand_title.append(title)

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"or"IRpwTa _2-ICcC"]')
for i in description_tags[0:20]:
    description=i.text
    brand_description.append(description)
    
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in brand_tags[0:20]:
    price=i.text
    brand_price.append(price)
    
given_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in given_tags[0:20]:
    given=i.text
    discount_given.append(given)

In [203]:
print(len(brand_title),len(brand_description),len(brand_price),len(discount_given))

20 20 20 20

In [204]:
import pandas as pd
df=pd.DataFrame({'Title':brand_title,'Description':brand_description,'Price':brand_price,'Discount':discount_given})
df

,Title,Description,Price,Discount
0,VINCENT CHASE,,₹549,72% off
1,VINCENT CHASE,Explore Plus,₹849,57% off
2,Fastrack,Login,₹799,42% off
3,Fastrack,Become a Seller,₹499,44% off
4,Rich Club,,₹488,62% off
5,Fastrack,Flights,₹549,38% off
6,STACTOR,Offer Zone,₹719,82% off
7,VINCENT CHASE,Vogue\nSunglasses | Upto 50% Off,₹949,52% off
8,GANSTA,Sunglasses,₹212,83% off
9,Fastrack,Need help?\nHelp me decide,₹849,39% off
10,ROYAL SON,Home,₹379,74% off
11,Eyewearlabs,Sunglasses,"₹1,520",57% off
12,Rich Club,,₹495,61% off
13,STACTOR,UV Protection Wayfarer Sunglasses (59),₹699,83% off
14,Fastrack,"₹549₹1,99972% off",₹599,45% off
15,Fastrack,,₹549,45% off
16,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹854,57% off
17,VINCENT CHASE,"₹849₹1,99957% off\nFree delivery",₹679,66% off
18,chawla fashion,,₹469,63% off
19,Fastrack,UV Protection Aviator Sunglasses (58),₹499,44% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [122]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [125]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [131]:
driver=webdriver.Chrome()

In [133]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-")

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [134]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [136]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [137]:
driver=webdriver.Chrome()

In [138]:
driver.get("https://www.flipkart.com/")

In [139]:
designation=driver.find_element(By.CLASS_NAME,"Pke_EE")
designation.send_keys('Sneakers')

In [140]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [147]:
brand_title=[]
brand_description=[]
brand_price=[]

In [148]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags[0:40]:
    title=i.text
    brand_title.append(title)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"or"IRpwTa _2-ICcC"]')
for i in description_tags[0:40]:
    description=i.text
    brand_description.append(description)
    
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in brand_tags[0:40]:
    price=i.text
    brand_price.append(price)

In [149]:
print(len(brand_title),len(brand_description),len(brand_price))

40 40 40

In [150]:
import pandas as pd
df=pd.DataFrame({'Title':brand_title,'Description':brand_description,'Price':brand_price})
df

,Title,Description,Price
0,aadi,,₹279
1,MEGPAR,Explore Plus,₹384
2,BRUTON,Login,₹277
3,asian,,₹822
4,U.S. POLO ASSN.,,"₹1,558"
5,Sparx,Flights,₹719
6,asian,Offer Zone,₹622
7,Fuoatieec,Footwear,₹485
8,Deals4you,Women's Footwear,₹365
9,Sparx,Kids' & Infant Footwear,₹679
10,Footox,Men's Footwear,₹599
11,ATOM,Home,"₹1,285"
12,Sparx,Footwear,₹658
13,aadi,,₹279
14,RED TAPE,Mesh| Ultralightweight| Premiun| Comfort| Summ...,"₹1,679"
15,JACK & JONES,₹279₹99972% off,₹749
16,aadi,,₹279
17,MEGPAR,Black Casual Sneakers For Men,₹444
18,asian,"₹384₹1,59975% off",₹622
19,HOTSTYLE,Bestseller,₹296
20,RapidBox,Canvas shoes for Men Sneakers For Men,₹699
21,MEGPAR,"₹277₹1,29978% off",₹455
22,JACK & JONES,,₹749
23,Labbin,"Thunder-01 White Canvas, Sneakers For Men",₹587
24,PUMA,"₹822₹1,69951% off\nFree delivery","₹3,330"
25,ATOM,Flipkart's Choice,"₹1,285"
26,Layasa,CLARKIN Sneakers For Men,₹499
27,ATOM,"₹1,558₹2,99948% off","₹1,485"
28,DUCATI,,"₹1,049"
29,kardam&sons,Casual Partywear Outdoor Sneakers For Men,₹549
30,Afrojack,₹719₹89920% off,₹636
31,Fuoatieec,,₹483
32,HRX by Hrithik Roshan,Sneakers For Men,"₹1,368"
33,NIKE,₹622₹89930% off\nFree delivery,"₹1,999"
34,asian,,₹646
35,asian,Sneakers For Men,₹764
36,ATOM,₹485₹99951% off,"₹1,485"
37,ATOM,,"₹1,485"
38,asian,Sneakers For Women,"₹1,175"
39,Sparx,₹365₹99963% off\nFree delivery,₹839

In [153]:
search=driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [154]:
brand_title=[]
brand_description=[]
brand_price=[]

In [155]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags[0:40]:
    title=i.text
    brand_title.append(title)
    
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"or"IRpwTa _2-ICcC"]')
for i in description_tags[0:40]:
    description=i.text
    brand_description.append(description)
    
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in brand_tags[0:40]:
    price=i.text
    brand_price.append(price)

In [156]:
print(len(brand_title),len(brand_description),len(brand_price))

40 40 40

In [157]:
import pandas as pd
df=pd.DataFrame({'Title':brand_title,'Description':brand_description,'Price':brand_price})
df

,Title,Description,Price
0,EZDEZARIO,,₹499
1,LE GREEM,Explore Plus,₹468
2,ADIDAS,Login,"₹3,120"
3,WOODLAND,,"₹1,880"
4,WOODLAND,,"₹1,750"
5,aadi,Flights,₹528
6,LE GREEM,Offer Zone,₹472
7,PREKANZO,Footwear,₹593
8,U.S. POLO ASSN.,Women's Footwear,"₹1,766"
9,asian,Kids' & Infant Footwear,₹587
10,PREKANZO,Men's Footwear,₹360
11,Footox,Home,₹399
12,BRUTON,Footwear,₹499
13,Arivo,,₹599
14,aadi,Sneakers For Men,₹279
15,Sparx,₹499₹99950% off,₹879
16,ATOM,,"₹1,385"
17,ATOM,Sneakers For Men,"₹1,485"
18,asian,₹468₹99953% off,"₹1,175"
19,kardam&sons,,₹474
20,ATOM,"₹3,120₹5,99947% off","₹1,485"
21,WROGN,,"₹1,091"
22,asian,Sneakers For Men,₹699
23,PUMA,"₹1,880₹2,89535% off","₹3,658"
24,PUMA,,"₹2,438"
25,Vellinto,,₹603
26,ATOM,,"₹1,485"
27,CHamps,Sneakers For Men,₹837
28,HRX by Hrithik Roshan,"₹1,750₹2,69535% off","₹1,442"
29,lejano,,₹447
30,WROGN,,"₹1,469"
31,PUMA,,"₹2,438"
32,World Wear Footwear,,₹277
33,K- FOOTLANCE,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹428
34,EZDEZARIO,"₹528₹1,99973% off",₹494
35,PUMA,,"₹2,999"
36,Bucik,Sneakers For Men,₹527
37,BIG FOX,₹472₹99952% off,₹719
38,HRX by Hrithik Roshan,,"₹1,294"
39,bacca bucci,New Stylish Casual Sneakers For Women,"₹1,499"

In [160]:
search=driver.find_element(By.CLASS_NAME,"_1LKTO3")
search.click()

In [161]:
brand_title=[]
brand_description=[]
brand_price=[]

In [162]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in title_tags[0:20]:
    title=i.text
    brand_title.append(title)

description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"or"IRpwTa _2-ICcC"]')
for i in description_tags[0:20]:
    description=i.text
    brand_description.append(description)
    
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in brand_tags[0:20]:
    price=i.text
    brand_price.append(price)

In [163]:
print(len(brand_title),len(brand_description),len(brand_price))

20 20 20

In [164]:
import pandas as pd
df=pd.DataFrame({'Title':brand_title,'Description':brand_description,'Price':brand_price})
df

           Title                                        Description   Price
0         Airson                                                     ₹1,299
1      EZDEZARIO                                       Explore Plus    ₹499
2          asian                                              Login    ₹646
3      EZDEZARIO                                    Become a Seller    ₹494
4           PUMA                                                     ₹2,999
5   K- FOOTLANCE                                            Flights    ₹349
6      EZDEZARIO                                         Offer Zone    ₹494
7           ATOM                                           Footwear  ₹1,585
8       LE GREEM                                   Women's Footwear    ₹472
9     HIGHLANDER                            Kids' & Infant Footwear    ₹870
10          LYVI                                     Men's Footwear    ₹295
11      Roshious                                               Home    ₹601
12         asian                                           Footwear    ₹705
13      RED TAPE                                                     ₹1,619
14   New Balance  Junior Zero1 Sports shoes for Men | Gym Traini...  ₹5,499
15         Sparx                                ₹1,299₹2,19940% off    ₹839
16         asian                                                       ₹599
17       STIFRON                                   Sneakers For Men    ₹519
18      Nobelite                                    ₹499₹99950% off    ₹279
19  K- FOOTLANCE                                                       ₹448

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [22]:
driver=webdriver.Chrome()

In [23]:
driver.get("https://www.amazon.in/")

In [27]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
designation.send_keys('Laptop')

In [29]:
search=driver.find_element(By.CLASS_NAME,"nav-right")
search.click()

In [32]:
brand_description=[]
brand_price=[]

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [33]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [34]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [40]:
driver=webdriver.Chrome()

In [41]:
driver.get("https://www.azquotes.com/")

In [42]:
quote_title=[]
quote_author=[]
types_of_quote=[]

In [43]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title=i.text
    quote_title.append(title)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    quote_author.append(author)
    
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    quote=i.text
    types_of_quote.append(quote)

In [44]:
print(len(quote_title),len(quote_author),len(types_of_quote))

100 100 100

In [45]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Types_of_quote':types_of_quote})
df

,Title,Author,Types_of_quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [47]:
search=driver.find_element(By.CLASS_NAME,"next")
search.click()

In [55]:
quote_title=[]
quote_author=[]
types_of_quote=[]

In [56]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title=i.text
    quote_title.append(title)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    quote_author.append(author)
    
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    quote=i.text
    types_of_quote.append(quote)

In [57]:
print(len(quote_title),len(quote_author),len(types_of_quote))

100 100 100

In [58]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Types_of_quote':types_of_quote})
df

,Title,Author,Types_of_quote
0,Can words describe the fragrance of the very b...,Neltje Blanchan,"Spring, April, Fragrance"
1,Faith is to believe what you do not see; the r...,Saint Augustine,"Inspirational, Faith, Spiritual"
2,"When everything seems to be going against you,...",Henry Ford,"Inspirational, Motivational, Positive"
3,"I have found that if you love life, life will ...",Arthur Rubinstein,"Love, Inspirational, Life"
4,To disarm the people... was the best and most ...,George Mason,"Strength, Peace, Gun"
...,...,...,...
95,Discipline is the bridge between goals and acc...,Jim Rohn,"Inspirational, Life, Motivational"
96,"Don't find fault, find a remedy.",Henry Ford,"Inspirational, Motivational, Positive"
97,I used to think the worst thing in life was to...,Robin Williams,"Love, Life, Lonely"
98,Friends and good manners will carry you where ...,Margaret Walker,"Love, Inspirational, Friendship"
99,"If you want to make a permanent change, stop f...",T. Harv Eker,"Inspirational, Change, Inspiring"

In [59]:
search=driver.find_element(By.CLASS_NAME,"next")
search.click()

In [61]:
quote_title=[]
quote_author=[]
types_of_quote=[]

In [62]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title=i.text
    quote_title.append(title)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    quote_author.append(author)
    
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    quote=i.text
    types_of_quote.append(quote)

In [63]:
print(len(quote_title),len(quote_author),len(types_of_quote))

100 100 100

In [64]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Types_of_quote':types_of_quote})
df

,Title,Author,Types_of_quote
0,"Success is not final, failure is not fatal: it...",Winston Churchill,"Inspirational, Motivational, Positive"
1,A day of worry is more exhausting than a week ...,John Lubbock,"Motivational, Happiness, Letting Go"
2,"Strive not to be a success, but rather to be o...",Albert Einstein,"Inspirational, Motivational, Positive"
3,Cancer can take away all of my physical abilit...,Jim Valvano,"Encouraging, Basketball, Uplifting"
4,Honesty is the first chapter in the book of wi...,Thomas Jefferson,"Inspirational, Positive, Wisdom"
...,...,...,...
95,Don't watch the clock; do what it does. Keep g...,Sam Levenson,"Motivational, Moving On, Success"
96,Don't wait for extraordinary opportunities. Se...,Orison Swett Marden,"Inspirational, Strength, Strong"
97,"If you're not careful, the newspapers will hav...",Malcolm X,"Hate, Lying, Media"
98,I celebrated Thanksgiving in an old-fashioned ...,Jon Stewart,"Funny, Thanksgiving, Holiday"
99,One of the things I learned the hard way was t...,Lucille Ball,"Inspirational, Life, Positive"

In [65]:
search=driver.find_element(By.CLASS_NAME,"next")
search.click()

In [66]:
quote_title=[]
quote_author=[]
types_of_quote=[]

In [67]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title=i.text
    quote_title.append(title)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    quote_author.append(author)
    
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    quote=i.text
    types_of_quote.append(quote)

In [68]:
print(len(quote_title),len(quote_author),len(types_of_quote))

100 100 100

In [69]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Types_of_quote':types_of_quote})
df

,Title,Author,Types_of_quote
0,A dress should be tight enough to show you're ...,Edith Head,"Fashion, Eyebrows, Icons"
1,"Sir, my concern is not whether God is on our s...",Abraham Lincoln,"Leadership, God, Wisdom"
2,"If you love what you are doing, you will be su...",Albert Schweitzer,"Happiness, Success, Happy"
3,"Patience, persistence and perspiration make an...",Napoleon Hill,"Inspirational, Positive, Success"
4,"Christmas is the season of joy, of holiday gre...",Norman Vincent Peale,"Christmas, Holiday, Giving"
...,...,...,...
95,Risks must be taken because the greatest hazar...,Leo Buscaglia,"Inspirational, Life, Motivational"
96,He who has never learned to obey cannot be a g...,Aristotle,"Inspirational, Leadership, Insperational"
97,Change before you have to.,Jack Welch,"Life, Motivational, Change"
98,I don't need a friend who changes when I chang...,Plutarch,"Friendship, Change, Philosophy"
99,You don't get paid for the hour. You get paid ...,Jim Rohn,"Funny, Motivational, Positive Thinking"

In [70]:
search=driver.find_element(By.CLASS_NAME,"next")
search.click()

In [71]:
quote_title=[]
quote_author=[]
types_of_quote=[]

In [72]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title=i.text
    quote_title.append(title)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    quote_author.append(author)
    
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    quote=i.text
    types_of_quote.append(quote)

In [73]:
print(len(quote_title),len(quote_author),len(types_of_quote))

100 100 100

In [74]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Types_of_quote':types_of_quote})
df

,Title,Author,Types_of_quote
0,The only person who is educated is the one who...,Carl Rogers,"Inspirational, Motivational, Education"
1,"Carry out a random act of kindness, with no ex...",Princess Diana,"Inspirational, Motivational, Kindness"
2,Don't be afraid to give up the good to go for ...,John D. Rockefeller,"Inspirational, Motivational, Positive"
3,Character cannot be developed in ease and quie...,Helen Keller,"Inspirational, Life, Motivational"
4,"Honor to the soldier and sailor everywhere, wh...",Abraham Lincoln,"Country, Veterans Day, Brother"
...,...,...,...
95,Let us not seek the Republican answer or the D...,John F. Kennedy,"4th Of July, Responsibility, Past"
96,"Life isn't a matter of milestones, but of mome...",Rose Kennedy,"Inspirational, Life, Change"
97,The time is always right to do what is right.,"Martin Luther King, Jr.","Inspirational, Positive, Inspiring"
98,"Whatever you want to do, do it now. There are ...",Michael Landon,"Motivational, Positive, Death"
99,be yourself- not your idea of what you think s...,Henry David Thoreau,"Inspirational, Being Yourself, Real"

In [75]:
search=driver.find_element(By.CLASS_NAME,"next")
search.click()

In [76]:
quote_title=[]
quote_author=[]
types_of_quote=[]

In [77]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title=i.text
    quote_title.append(title)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    quote_author.append(author)
    
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    quote=i.text
    types_of_quote.append(quote)

In [78]:
print(len(quote_title),len(quote_author),len(types_of_quote))

100 100 100

In [79]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Types_of_quote':types_of_quote})
df

,Title,Author,Types_of_quote
0,"If music be the food of love, play on, Give me...",William Shakespeare,"Music, Food, Unrequited Love"
1,Marriage: If you want something to last foreve...,F. Burton Howard,"Love, Family, Marriage"
2,Eighty percent of success is showing up.,Woody Allen,"Inspirational, Positive, Inspiring"
3,A hero is an ordinary individual who finds the...,Christopher Reeve,"Inspirational, Motivational, Strength"
4,Our dilemma is that we hate change and love it...,Sydney J. Harris,"Love, Funny, Change"
...,...,...,...
95,"There are three constants in life... change, c...",Stephen Covey,"Life, Change, Bad Ass"
96,"Young people need models, not critics.",John Wooden,"Basketball, Youth Of Today, Nba"
97,Advice is what we ask for when we already know...,Erica Jong,"Funny, Being Strong, Spiritual"
98,The great use of life is to spend it for somet...,William James,"Inspirational, Life, Motivational"
99,Clear thinking requires courage rather than in...,Thomas Szasz,"Courage, Thinking, Clear"

In [80]:
search=driver.find_element(By.CLASS_NAME,"next")
search.click()

In [81]:
quote_title=[]
quote_author=[]
types_of_quote=[]

In [82]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title=i.text
    quote_title.append(title)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    quote_author.append(author)
    
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    quote=i.text
    types_of_quote.append(quote)

In [83]:
print(len(quote_title),len(quote_author),len(types_of_quote))

100 100 100

In [84]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Types_of_quote':types_of_quote})
df

,Title,Author,Types_of_quote
0,A man is not old until regrets take the place ...,John Barrymore,"Love, Inspirational, Life"
1,A part of kindness consists in loving people m...,Joseph Joubert,"Love, Kindness, Women"
2,When you start to develop your powers of empat...,Susan Sarandon,"Kindness, Power, Imagination"
3,Judge a man by his questions rather than his a...,Voltaire,"Wisdom, Clever, Men"
4,"If you make a sale, you can make a living. If ...",Jim Rohn,"Inspirational, Business, Investment"
...,...,...,...
95,All things are difficult before they are easy.,Thomas Fuller,"Inspirational, Motivational, Positive"
96,People ask the difference between a leader and...,Theodore Roosevelt,"Leadership, Differences, People"
97,"The thing that is really hard, and really amaz...",Anna Quindlen,"Confidence, Letting Go, Being Yourself"
98,Love is the ability and willingness to allow t...,Wayne Dyer,"Love, Anxiety, Self Improvement"
99,"Sooner or later, those who win are those who t...",Paul Tournier,"Positive, Sports, Confidence"

In [85]:
search=driver.find_element(By.CLASS_NAME,"next")
search.click()

In [86]:
quote_title=[]
quote_author=[]
types_of_quote=[]

In [87]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title=i.text
    quote_title.append(title)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    quote_author.append(author)
    
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    quote=i.text
    types_of_quote.append(quote)

In [88]:
print(len(quote_title),len(quote_author),len(types_of_quote))

100 100 100

In [89]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Types_of_quote':types_of_quote})
df

,Title,Author,Types_of_quote
0,"Those who matter don't mind, and those who min...",Bernard Baruch,"Inspirational, Funny, Life"
1,"You were born to win, but to be a winner, you ...",Zig Ziglar,"Inspirational, Life, Motivational"
2,"If you don't like something, change it. If you...",Maya Angelou,"Inspirational, Motivational, Change"
3,Gratitude unlocks the fullness of life. It tur...,Melody Beattie,"Inspirational, Life, Change"
4,Everyone seems to have a clear idea of how oth...,Paulo Coelho,"Inspirational, Life, Happiness"
...,...,...,...
95,America will never be destroyed from the outsi...,Abraham Lincoln,"Wisdom, Religious, Freedom"
96,The average dog is a nicer person than the ave...,Andy Rooney,"Inspirational, Funny, Dog"
97,Faithful servants never retire. You can retire...,Rick Warren,"Reality, Servant Of God, Careers"
98,"In matters of style, swim with the current; in...",Thomas Jefferson,"Inspirational, Motivational, Success"
99,Dad needs to show an incredible amount of resp...,Tim Allen,"Friendship, Teamwork, Mom"

In [90]:
search=driver.find_element(By.CLASS_NAME,"next")
search.click()

In [91]:
quote_title=[]
quote_author=[]
types_of_quote=[]

In [92]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title=i.text
    quote_title.append(title)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    quote_author.append(author)
    
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    quote=i.text
    types_of_quote.append(quote)

In [93]:
print(len(quote_title),len(quote_author),len(types_of_quote))

100 100 100

In [94]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Types_of_quote':types_of_quote})
df

,Title,Author,Types_of_quote
0,"We are United States Marines, and for two and ...",James L. Jones,"Military, Marine, Two"
1,Patience is the companion of wisdom.,Saint Augustine,"Inspirational, Patience, Spiritual"
2,"I prefer to be true to myself, even at the haz...",Frederick Douglass,"Respect, Fear, Integrity"
3,Peace cannot be kept by force; it can only be ...,Albert Einstein,"Love, Inspirational, Life"
4,The two hardest tests on the spiritual road ar...,Paulo Coelho,"Love, Life, Patience"
...,...,...,...
95,To love means loving the unlovable. To forgive...,Gilbert K. Chesterton,"Love, Inspirational, Success"
96,Be brave. Take risks. Nothing can substitute e...,Paulo Coelho,"Encouraging, Courage, Inspiration"
97,"If you really want to do something, you'll fin...",Jim Rohn,"Inspirational, Motivational, Success"
98,It is neither wealth nor splendor; but tranqui...,Thomas Jefferson,"Life, Happiness, Work"
99,A thousand words will not leave so deep an imp...,Henrik Ibsen,"Inspirational, Inspiring, Positivity"

In [95]:
search=driver.find_element(By.CLASS_NAME,"next")
search.click()

In [96]:
quote_title=[]
quote_author=[]
types_of_quote=[]

In [97]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title=i.text
    quote_title.append(title)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    quote_author.append(author)
    
quote_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_tags[0:100]:
    quote=i.text
    types_of_quote.append(quote)

In [98]:
print(len(quote_title),len(quote_author),len(types_of_quote))

100 100 100

In [99]:
import pandas as pd
df=pd.DataFrame({'Title':quote_title,'Author':quote_author,'Types_of_quote':types_of_quote})
df

,Title,Author,Types_of_quote
0,Courage is the price that life exacts for gran...,Amelia Earhart,"Inspirational, Life, Success"
1,The worst evils which mankind has ever had to ...,Ludwig von Mises,"Peace, War, Government"
2,The moment we begin to fear the opinions of ot...,Elizabeth Cady Stanton,"Life, Strength, Courage"
3,"Trust yourself, you know more than you think y...",Benjamin Spock,"Positive, Family, Trust"
4,"Some people want it to happen, some wish it wo...",Michael Jordan,"Inspirational, Life, Motivational"
...,...,...,...
95,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
96,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
97,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
98,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
99,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [100]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [101]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [106]:
driver=webdriver.Chrome()

In [107]:
driver.get("https://www.jagranjosh.com/.")

In [108]:
search=driver.find_element(By.CLASS_NAME,"Header_ham__BUD4g")
search.click()

In [110]:
search=driver.find_element(By.XPATH,"/html/body/div/div[2]/div[1]/ul/li[6]/a")
search.send_keys('General Knowledge')

In [115]:
name_title=[]
born_dead_status=[]
term_of_office=[]
remarks=[]

In [116]:
title_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in title_tags:
    title=i.text
    name_title.append(title)
    
status_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/spa_n/div[3]/table/tbody/tr[2]/td[3]/p')
for i in status_tags:
    status=i.text
    born_dead_status.append(status)
    
term_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[4]')
for i in term_tags:
    term=i.text
    term_of_office.append(term)
    
remarks_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[5]')
for i in remarks_tags:
    rem=i.text
    remarks.append(rem)

In [117]:
print(len(name_title),len(born_dead_status),len(term_of_office),len(remarks))

1 0 1 1

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [143]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python39\site-packages (4.12.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.10.4)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [144]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [145]:
driver=webdriver.Chrome()

In [152]:
driver.get(" https://www.motor1.com/")

In [153]:
designation=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/button")
designation.send_keys('fifty most expensive cars')

In [154]:
search=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [155]:
car_name=[]

In [156]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="text-box"]')
for i in name_tags[0:24]:
    name=i.text
    car_name.append(name)

In [157]:
print(len(car_name))

24

In [158]:
import pandas as pd 
df=pd.DataFrame({'Name':car_name})
df

                                                 Name
0   Used Cars Are Most Expensive In West Palm Beac...
1   US Electric Car Prices: Cheapest To Most Expen...
2   Most Expensive Dodge Challenger Demon 170 Cost...
3   Half Of US New Car Buyers Believe EVs Are Too ...
4   This 1996 Nissan Nismo GT-R Is The Most Expens...
5   Bentley Performance Cars Line Up For The Most ...
6   2023 Corvette Z06 Configurator Now Up, Most Ex...
7   Bugatti La Voiture Noire Joins World's Most Ex...
8   Most Expensive Auction At Monterey 2022 Is 195...
9   Mercedes 300 SLR Uhlenhaut Coupe Is World's Mo...
10  Mercedes-Benz 300 SLR Could Be The World's Mos...
11  Bentley Coupe By Mulliner Expected To Be Compa...
12  50 Most Expensive Cars In The World\nFrom Asto...
13  20 Most Expensive Cars to Maintain\nMost of th...
14  Koenigsegg Regera And Agera RS With Blue Carbo...
15  10 Cars Most Likely To Need An Expensive Head ...
16  Phaeton Had The Most Expensive Car Mock-Up In ...
17  These Were The Most Expensive Cars Sold On eBa...
18  Motor1 On One With Master Detailer Todd Cooper...
19  How Long Should An Electric Car’s Battery Last...
20  $8.3M Veneno Roadster Becomes Most Expensive L...
21  10 Most Expensive Cars To Insure For 2019\nYou...
22  $200,000 Mercedes-Maybach GLS To Be Built In A...
23  Bugatti La Voiture Noire Debuts: Most Expensiv...